:root {
  --header1: #955100;
  --header2: #489448;
  --text1: #f4f1ed;
  --hover: #eef48d;
}

@font-face {
  font-family: "prata";
  font-family: "inconsolata";
  src: url(assets/Prata/Prata-Regular.ttf) format("truetype");
  src: url(assets/Inconsolata/Inconsolata-VariableFont_wdth\wght.ttf)
    format("truetype");
  font-weight: 100 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "inconsolata", Ubuntu, sans-serif;
  font-size: 2em;
}
/* header */

  background: linear-gradient(
    to right,
    var(--header1) 50%,
    var(--header2) 50% 100%
  );
}
.wrapper {
  text-align: center;
  /* display: inline-block; */
}

.main-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 50%;
}
.main-header picture {
  width: 30%;
}
nav {
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "prata", serif;
}
nav a {
  text-decoration: none;
  color: var(--text1);
  font-size: 25px;
  padding: 20px 25px 30px 38px;
  font-family: "prata", Ubuntu, serif;
}
nav a:hover {
  color: var(--hover);
}
header picture img {
  padding: 0px 20px 20px 100px;
}
.text-header h1 {
  font-size: 150px;
  font-family: "prata", Ubuntu, serif;
  padding-top: 65px;
  color: var(--text1);
  font-weight: 100;
}
header div p {
  color: var(--text1);
  font-family: "prata", Ubuntu, sans-serif;
}

/* main */
